*.pyc
*.log
.project
client/src/dgrid/
client/src/dijit/
client/src/dojo/
client/src/dojox/
client/src/jquery/
client/src/qunit/
client/src/put-selector/
client/src/util/
client/src/xstyle/
client/lib/
dist/
pkanban.egg-info/
devel_site/
selenium/
conf/
manage.py

