*~
*.pyc
*.pyo
*.log
# static javascript libraries and compiled files
pkanban/static/spa/
# setuptools
dist/
etc/django-pkanban/dist
pkanban.egg-info/
etc/django-pkanban/pkanban.egg-info/
# site settings
project/
static/
staticfiles
devel_site/
manage_local.py
etc/chef-repo/.chef/
# virtualenv
venv/
# buildout
bin/
develop-eggs/
eggs/
parts/
.installed.cfg
pkanban.sublime-project
pkanban.sublime-workspace
local.txt
