/* include other resouces */
@import "../../dojo/resources/dojo.css";
@import "../../dijit/themes/claro/claro.css";

body {
	font-family:"Verdana", Geneva, sans-serif;
	font-size:14px;
	/*width: 800px;*/
}
body.pkanban {
	width: 600px;
}
body.task {
	width: 600px;
}
body.stream {
	width: 800px;
}
#message {
	background-color:#D3D3D3;
	width:500px;
}
pre {
	font-size: 8pt;
}
label.newTaskForm {
	font-weight:bold;
}
td, th {
	padding-right:15px;
}
tr.minorinfo {
	font-size: 8pt;
}
td.remark {
	color:#F08080;
}
table.test {
	color:red;
}
tr.fixed_phase {
	background-color:#F0F0F0;
}
.info {
	color:#F08080;
}
.area {
	text-align:center;
	color:#333366;
}
#blog_wrapper, #board_wrapper {
	border: solid;
	border-width: 1px;
	border-color: #333366;
}
.dojoblue {
	color:#333366;
}
.pkanbanIconProceed {
	background-image: url('/static/images/arrow.png'); 
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

.pkanbanMainView {
	background-image: url('/static/images/kanban.png');
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

#pcapa {
	width:30px;
}
#pdesc {
	rows:4;
	cols:30;
}

