<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    {% load compress %}
    {% block head_css %}
      {% compress css %}
      <link rel="stylesheet" href="{{ STATIC_URL }}pkanban/css/bootstrap.css" type="text/css" media="screen" />
      <link rel="stylesheet" href="{{ STATIC_URL }}pkanban/css/style.css" type="text/css" media="screen" />
      {% endcompress %}
      <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />
    {% endblock %}
    <title>Personal Kanban</title>
  </head>
  <body {% block body_params %}{% endblock %}>
    <div class="container-fluid">
    {% if user.is_authenticated %}<p class="pull-right">Welcome, {{user.username}}.
      {% if not demo %}<a href="/pkanban/logout/" class="btn btn-danger btn-xs">Logout</a>{% endif %}</p>{% endif %}
    {% if demo %}
    <hr>
    <p class="bg-success">
    Welcome to the demo installation of my personal kanban application. You can freely explore around here
    (within reasonable limits, of course). But please remember that all tasks will be come persistent and
    visible to other visitors as well.
    </p><hr>
    {% endif %}
    {% block content %}
    {% endblock %}
    {% block body_js %}
    {% endblock %}
    {% block end_init %}
    {% endblock %}
    </div>
  </body>
</html>
