{% extends "pkanban/base.html" %}
{% load staticfiles %}
{% load compress %}

{% block head_css %}
  {{block.super}}
  {% compress css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}pkanban/css/font-awesome.css" type="text/css" media="screen" />
  {% endcompress %}
{% endblock %}

{% block body_js %}
  {{block.super}}
  {% compress js %}
  <script type="text/javascript" src="{{ STATIC_URL }}pkanban/js/jquery-1.11.1.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}pkanban/js/lodash.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}pkanban/js/angular.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}pkanban/js/angular-ui-router.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}pkanban/js/angular-sanitize.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}pkanban/js/angular-cookies.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}pkanban/js/restangular.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}pkanban/js/ui-bootstrap-tpls-0.11.0.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}pkanban/js/app.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}pkanban/js/wip-view.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}pkanban/js/backlog-view.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}pkanban/js/archive-view.js"></script>
  {% endcompress %}
  <script type="text/javascript" src="{{ STATIC_URL }}pkanban/js/ckeditor/ckeditor.js"></script>
{% endblock %}

{% block body_params %}ng-app="pkanbanApp"{% endblock %}

{% block content %}

  {% verbatim %}


    <div class="row">
      <!-- Modal for creating new tasks -->
      <div class="col-md-4 col-xs-4">
        <div ng-controller="NewTaskCtrl">
          <button class="btn btn-success" ng-click="open()">New task</button>
        </div>
      </div>
    </div>
    <p></p>
    <nav class="pk-tabbable navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" ui-sref="#/wip">Personal Kanban</a>
      </div>
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="wip">WIP</a></li>
        <li ui-sref-active="active"><a ui-sref="backlog">Backlog</a></li>
        <li ui-sref-active="active"><a ui-sref="done">Done</a></li>
      </ul>
    </nav>

    <div class="pk-tab-content">
      <div ui-view></div>
    </div>


  {% endverbatim %}

<audio id="timer-expired-alert"><source src="{{ STATIC_URL }}pkanban/audio/tom_jerry_msg_tone.mp3" type="audio/mpeg"></source></audio>

{% endblock %}
{% block end_init %}
<script>
// Add the CSRF Token
var pkanbanApp = angular.module('pkanbanApp'); // Not including a list of dependent modules (2nd parameter to `module`) "re-opens" the module for additional configuration
pkanbanApp.config(['$httpProvider', function($httpProvider) {
    $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token|escapejs }}';
}]);
</script>
{% endblock %}
