<div class="pk-tool-wrapper">
  <form class="form-inline" role="form">
    <select class="form-control pk-valuestream-select" ng-model="candidate"
            ng-options="stream for stream in streams">
      <option value="">--- Transfer to WIP by selecting a valuestream ---</option>
    </select>
    <button type="button" class="btn btn-default pk-valuestream-action" ng-disabled="!candidate"
            ng-click="select()">Confirm</button>
    <button type="button" class="btn btn-danger pk-valuestream-action pull-right"
            ng-click="deleteTask()">Delete Task</button>
  </form>
  <alert type="danger" close="errorAction()" ng-show="error">{{error}}</alert>
</div>
