recursive-include pkanban/static/pkanban/app/resources *
include README.rst
include pkanban/static/pkanban/dojo/dojo.js
include pkanban/static/pkanban/app/run.js
include pkanban/static/pkanban/dojo/resources/blank.gif
include pkanban/static/pkanban/dijit/layout/templates/*.html
include pkanban/static/pkanban/dijit/form/templates/*.html
include pkanban/static/pkanban/dijit/templates/*.html
include pkanban/static/pkanban/dijit/themes/claro/form/images/buttonArrows.png
recursive-include pkanban/templates *

