<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	<link rel="stylesheet" href="{{ STATIC_URL }}style.css" type="text/css" media="screen" />
	<link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />
	<style>
		html, body, #appLayout {
			width: 100%; height: 100%;
			border: 0; padding: 0; margin: 0;
		}
	</style>
</head>
<body class="claro task">

<table><tr>
	<td>
	{% if not isCompleted %}
	<button id="submit_btn" data-dojo-type="dijit/form/Button" 
	    data-dojo-props="
	    	iconClass:'dijitIconSave',
			showLabel:false,
			title:'Save changes.'"></button>
	{% endif %}
	{% if not isCompleted and not isNew %}
	<button id="delete_btn" data-dojo-type="dijit/form/Button"
		data-dojo-props="
			iconClass: 'dijitIconDelete',
			showLabel: false,
			title: 'Cancel task and move to archive.'"></button>
	{% endif %}
	<button id="cancel_btn" data-dojo-type="dijit/form/Button"
		data-dojo-props="
			iconClass:'pkanbanMainView',
			showLabel:false,
			title:'Cancel and go back to board.'"></button>
	{% if not isNew and task.valuestream and not isCompleted %}
	<button id="next_btn" data-dojo-type="dijit/form/Button"
		data-dojo-props="
			iconClass: 'pkanbanIconProceed',
			showLabel: false,
			title:'Proceed to next phase.'"></button>
	{% endif %}
	</td>
	<td width="65%">
	<div id="pomo_wrapper">
		{% if not isNew and task.valuestream and not isCompleted %}
		<div id="pomodoro"  data-dojo-type="dijit/ProgressBar"
		data-dojo-id="pomoProgressBar"
		tooltip="Click to start/stop timer.">
		</div>
		<audio id="pomo_end"><source src="/static/audio/tom_jerry_msg_tone.mp3" type="audio/mpeg"></source></audio>
		{% endif %}
	</div>
	</td>
</tr></table>
	<table>{% csrf_token %}
	<div class="fieldWrapper">
		<tr>
			<td>
				<span class="newTaskForm">Name:</span>
			</td><td>
				{% if isNew %}
				<div id="task_id" hidden>0</div>
				{% else %}
				<div id="task_id" hidden>{{task.id}}</div>
				{% endif %}
				<div id="name_wrapper">
					<input id="name_input" type="text" data-dojo-type="dijit/form/TextBox" 
						data-dojo-props="
							name: 'Task name',
							value: '{{ task.name }}',
							placeHolder: 'Enter task name'"/>
				</div>
			</td>
		</tr>
	</div>
	<div class="fieldWrapper">
		<tr>
			<td><span class="newTaskForm">Description:</span></td>
			<td></td>
		</tr>
		<tr>
			<td id="description_holder" colspan="2">
			<div id="description_editor" data-dojo-type="dijit/Editor"></div>
			</td>
		</tr>
	</div>
	{% block valuestream_chooser %}{% endblock %}
	{% if task.effort %}
	<div class="fieldWrapper">
		<tr class="minorinfo">
			<td>Effort:</td>
			<td id="effort_value">{{task.effort}}</td>
		</tr>
	</div>
	{% endif %}
	{% if isCompleted %}
	<div class="fieldWrapper">
		<tr class="minorinfo">
			<td>Completed:</td><div id="isCompleted" hidden></div>
			<td>{{task.completed}}</td>
		</tr>
	</div>
	{% endif %}
	</table>
	<p id="message"></p>
	<div id="task_staticdata">
		{% block task_staticdata %}{% endblock %}
	</div>
	{% if dev %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/src/app/dojoConfigChildChild.js"></script>
	<!--script type="text/javascript" src="{{ STATIC_URL }}js/src/app/pkutil.js"></script -->
	<script data-main="/static/js/newtask.js" src="/static/js/src/dojo/dojo.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/src/app/newtask.js"></script>
	{% else %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/tasklib.js"></script>
	{% endif %}
</body>
</html>