<table id="wiptasks">
	<thead class="dojoblue">
		<tr>
			<th>Phase</th>
			<th>Task</th>
			<th>Description</th>
			<th>Valuestream</th>
		</tr>
	</thead>
	<tbody>
		{% if tasks %}
			{% for entry in tasks %}
			<tr>
				<td> {{ entry.phase.name }} </td>
				<td> <a href="{{entry.task.get_absolute_url}}">{{ entry.task.name }}</a></td>
				<td> {{entry.task.description|striptags|truncatechars:30}}</td>
				<td> {{ entry.task.valuestream.streamname }} </td>
			</tr>
			{% endfor %}
		{% else %}
		<tr><td colspan="3" class="remark">No work-in-progress tasks. Please select from backlog.</td></tr>
		{% endif %}
	</tbody>
</table>


